<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test templete</title>
    {% load static %}
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
</head>
<body>
<h1>linked page is for styling</h1>
<div>
    <h1>food list</h1>
    <ul>
        <li>mango</li>
        <li>
            lichi
        </li>
        <li>banana</li>

    </ul>
</div>
<div>
    <h1>book list</h1>
    <ol>
        <li>ncert</li>
        <li>s chand
        </li>
        <li>rs aggrawal</li>
    </ol>
</div>
</body>
</html>