<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SAMPLE DJANGO TEMPLETE</title>
    {% load static   %}
    <script src="{% static '/js/test.js' %}"></script>
</head>
<body style="background-color:red">
<h1 style="background-color:yellow">hello nachiketa</h1>
<P>THIS IS A PAGE FOR APP DESIGNING</P>
<img src="{% static '/images/nachi.jpeg' %}"width="200px"height="300px"alt="nachi img"/>
<img src="{% static '/images/nachiketa.jpg' %}"  width="200px"height="300px"alt="nachi img"/>
<a href="/test/">click here</a>

</body>
</html>
